/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Practica 1
   Filename: es_about.css

   This file contains the base styles used by all pages in the website

*/

.enc1{
   text-align: center;
}

.tit{
   text-align: center;
}

h3 {
   
   display: inline-block;
   /* Para que el titulo solo abarque solo la cantidad de letras que tenga y no toda la linea*/
   position: relative;
   /*mover las rayas en base sa la posicion del texto*/
   color: blue;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, cursive;

}
h3::after,
h3::before {
    content: '';
    position: absolute;
    width: 120px;
    height: 3px;
    background-color: black;
    top: 0.6em;

}

h3::before {
    left: -140px;
}

h3::after {
    right: -140px;
}

body {
   background: #CC95C0;
   /* fallback for old browsers */
   background: -webkit-linear-gradient(to right, rgba(122, 162, 210, 0.61), rgba(219, 212, 180, 0.61), rgba(204, 148, 192, 0.61)), url(../imagenes/fondo1.jpg);
   /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right, rgba(122, 162, 210, 0.61), rgba(219, 212, 180, 0.61), rgba(204, 148, 192, 0.61)), url(../imagenes/fondo1.jpg);
         /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

   }

   .art1{
      text-align: justify;
   }

   .art2{
      text-align: justify;
   }

   .art3{
      text-align: justify;
   }

   .art4{
      text-align: justify;
   }

   .art5{
      text-align: justify;
   }