/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Practica 1
   Filename: es_about.css

   This file contains the base styles used by all pages in the website

*/

body {
   background: #CC95C0;
   /* fallback for old browsers */
   background: -webkit-linear-gradient(to right, rgba(122, 162, 210, 0.61), rgba(219, 212, 180, 0.61), rgba(204, 148, 192, 0.61)), url(../imagenes/fondo1.jpg);
   /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right, rgba(122, 162, 210, 0.61), rgba(219, 212, 180, 0.61), rgba(204, 148, 192, 0.61)), url(../imagenes/fondo1.jpg);
         /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

   }