/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Practica 1
   Filename: es_about.css

   This file contains the base styles used by all pages in the website

*/

.enc1{
   text-align: center;
}

.tit{
   text-align: center;
}

h3 {
   
   display: inline-block;
   /* Para que el titulo solo abarque solo la cantidad de letras que tenga y no toda la linea*/
   position: relative;
   /*mover las rayas en base sa la posicion del texto*/
   color: blue;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, cursive;

}
h3::after,
h3::before {
    content: '';
    position: absolute;
    width: 120px;
    height: 3px;
    background-color: black;
    top: 0.6em;

}

h3::before {
    left: -140px;
}

h3::after {
    right: -140px;
}

body {
   background: #CC95C0;
   /* fallback for old browsers */
   background: -webkit-linear-gradient(to right, rgba(122, 162, 210, 0.61), rgba(219, 212, 180, 0.61), rgba(204, 148, 192, 0.61)), url(../imagenes/fondo1.jpg);
   /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right, rgba(122, 162, 210, 0.61), rgba(219, 212, 180, 0.61), rgba(204, 148, 192, 0.61)), url(../imagenes/fondo1.jpg);
         /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

   }

   .art1{
      text-align: justify;
   }

   .art2{
      text-align: justify;
   }

   .art3{
      text-align: justify;
   }

   .art4{
      text-align: justify;
   }

   .art5{
      text-align: justify;
   }

   footer {
      width: 100%;
      clear: left;
      text-align: center;
      font-size: 1em;
      margin-top: 100px;
      border-top: 2px solid rgb(26, 36, 128);
      font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
   }

   body {
      width: 88.2%;
      max-width: 900px;
      padding-left: 0.9%;
      padding-right: 0.9%;
      margin: 0px auto auto auto;
      clear: none;
      float: none;
      background-color: white;
      -moz-box-shadow: rgba(31, 61, 31, 0.9) 20px 0px 25px,  rgba(31, 61, 31, 0.9) -20px 0px 25px;
      -webkit-box-shadow: rgba(31, 61, 31, 0.9) 20px 0px 25px,  rgba(31, 61, 31, 0.9) -20px 0px 25px;
      box-shadow: rgba(31, 61, 31, 0.9) 20px 0px 25px,  rgba(31, 61, 31, 0.9) -20px 0px 25px;
   }
   