/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Practica 1
   Filename: es_adopcion.css

   This file contains the base styles used by all pages in the website

*/

body {
   text-align: center;
   background: #4776E6;
   /* fallback for old browsers */
   background: -webkit-linear-gradient(to right, rgba(141, 84, 233, 0.61), rgba(71, 119, 230, 0.61)), url(../imagenes/fondo2.jpg);
   /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right, rgba(141, 84, 233, 0.61), rgba(71, 119, 230, 0.61)), url(../imagenes/fondo2.jpg);
   /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

header {
   text-align: justify;

}

footer {
	width: 100%;
	clear: left;
	text-align: center;
	font-size: 1em;
	margin-top: 100px;
	border-top: 2px solid rgb(26, 36, 128);
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
}

body {
	width: 88.2%;
	max-width: 900px;
	padding-left: 0.9%;
	padding-right: 0.9%;
	margin: 0px auto auto auto;
	clear: none;
	float: none;
	background-color: white;
	-moz-box-shadow: rgba(31, 61, 31, 0.9) 20px 0px 25px,  rgba(31, 61, 31, 0.9) -20px 0px 25px;
	-webkit-box-shadow: rgba(31, 61, 31, 0.9) 20px 0px 25px,  rgba(31, 61, 31, 0.9) -20px 0px 25px;
	box-shadow: rgba(31, 61, 31, 0.9) 20px 0px 25px,  rgba(31, 61, 31, 0.9) -20px 0px 25px;
}
