/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Practica 1
   Filename: es_cuidado.css

   This file contains the base styles used by all pages in the website

*/

.enc1{
   text-align: center;
}

body {
   
   background: #22c1c3;
   /* fallback for old browsers */
   background: -webkit-linear-gradient(to right, rgba(253, 187, 45, 0.61), rgba(34, 192, 195, 0.61)), url(../imagenes/fondo6.jpg);
   /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right, rgba(253, 187, 45, 0.61), rgba(34, 192, 195, 0.61)), url(../imagenes/fondo6.jpg);
   /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

header {
   text-align: justify;

}

.art1{
   text-align: justify;
}

