/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Practica 1
   Filename: es_cuidado.css

   This file contains the base styles used by all pages in the website

*/
body {
	width: 100%;
	padding-left: 2%;
	padding-right: 2%;
	clear: none;
	float: none;
	margin-left: auto;
}



/*menu general*/

img,
object,
embed,
video {
	max-width: 100%;
}

article {
	width: 100%;
	float: left;
	font-size: 1.25em;
	text-align: justify;
}

html,
body {
	font-size: 16px;
}



header h1 {
	font-size: 3.2em;
}

body article h1 {
	font-size: 3em;
}

header h2 {
	font-size: 2em;
}

body article h2 {
	font-size: 3em;
}

header h3 {
	font-size: 2.2em;
}

body article h3 {
	font-size: 2em;
}

article {
	width: 90%;
	float: none;
	margin: 0px auto;
}


nav ul li {
	display: table-cell;
	width: 15%;
	text-align: center;
	margin-right: 2%;
	border: thin solid rgb(17, 56, 127);
	border-collapse: collapse;

	background: #22c1c3;
	/* fallback for old browsers */
	background: -webkit-linear-gradient(to right, rgba(253, 187, 45, 0.61), rgba(34, 192, 195, 0.61));
	/* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, rgba(253, 187, 45, 0.61), rgba(34, 192, 195, 0.61));
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

nav ul li a {
	margin-bottom: 0;
}

nav {
	display: table;
	width: 96%;
	margin: 0 auto;
	float: none;
}

li {
	font-size: 18px;
}

nav ul {
	display: table-row;
	margin: 0;
}

nav ul li:last-of-type {
	margin-right: 0%;
}




footer {
	font-size: 1em;
}


aside {
	text-align: center;
	float: right;
	margin-left: 25px;
	margin-right: 25px;
	vertical-align: top;
	width: 250px;

	background: #B3FFAB;
	/* fallback for old browsers */
	background: -webkit-linear-gradient(to right, rgba(255, 219, 18, 0.7), rgba(171, 235, 255, 0.7));
	/* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, rgba(255, 251, 18, 0.7), rgba(171, 252, 255, 0.7));
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	font-size: 1.25em;
}

.aside img {
	margin: 0;
	padding: 10px 0 0 0;
	width: 200%;

}

article img {
	float: right;
	width: 40%;
	margin: 2% 2% 2% 2%;
}

.enc1 {
	text-align: center;
}



body {

	background: #22c1c3;
	/* fallback for old browsers */
	background: -webkit-linear-gradient(to right, rgba(253, 187, 45, 0.61), rgba(34, 192, 195, 0.61)), url(../imagenes/fondo6.jpg);
	/* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, rgba(253, 187, 45, 0.61), rgba(34, 192, 195, 0.61)), url(../imagenes/fondo6.jpg);
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	/*sombras*/
	width: 100%;
	max-width: 900px;
	padding-left: 1%;
	padding-right: 1%;
	margin: 0px auto auto auto;
	clear: none;
	float: none;
	background-color: white;
	-moz-box-shadow: rgba(55, 31, 61, 0.9) 20px 0px 25px, rgba(31, 61, 31, 0.9) -20px 0px 25px;
	-webkit-box-shadow: rgba(31, 61, 31, 0.9) 20px 0px 25px, rgba(31, 61, 31, 0.9) -20px 0px 25px;
	box-shadow: rgba(31, 61, 31, 0.9) 20px 0px 25px, rgba(31, 61, 31, 0.9) -20px 0px 25px;
}

header {
	text-align: justify;

}

.art1 {
	text-align: justify;
}

footer {
	width: 100%;
	clear: left;
	text-align: center;
	font-size: 1.25em;
	margin-top: 100px;
	border-top: 2px solid rgb(109, 180, 171);
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
}

table {
	border: 2px solid black;
	text-align: center;
}

table tr th {
	border: 2px solid black;
}

table .tTit {
	text-align: center;
	background: rgb(12, 226, 59);

}

table .sub {
	background: #ef32d9;
	/* fallback for old browsers */
	background: -webkit-linear-gradient(to top, #89fffd, #9a32ef);
	/* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to top, #89fffd, #9a32ef);
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

table .tr1 {
	background: #8360c3;
	/* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #2ebf91, #8360c3);
	/* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #2ebf91, #8360c3);
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

table .tr2 {
	background: #36D1DC;
	/* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #5B86E5, #36D1DC);
	/* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #5B86E5, #36D1DC);
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

table .tTit1 {
	text-align: center;
	background: rgb(12, 226, 59);

}

table .sub1 {
	background: #FDFC47;
	/* fallback for old browsers */
	background: -webkit-linear-gradient(to top, #24FE41, #FDFC47);
	/* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to top, #24FE41, #FDFC47);
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

table .tr11 {
	background: #a8ff78;
	/* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #78ffd6, #a8ff78);
	/* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #78ffd6, #a8ff78);
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

table .tr21 {
	background: #a8ff78;
	/* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #78ffd6, #a8ff78);
	/* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #78ffd6, #a8ff78);
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}