/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Practica 1
   Filename: es_campana.css

   This file contains the base styles used by all pages in the website

*/
body {
   text-align: center;
   background: #f2709c;
   /* fallback for old browsers */
   background: -webkit-linear-gradient(to right, rgba(255, 147, 114, 0.61), rgba(242, 112, 155, 0.61)), url(../imagenes/fondo3.jpg);
   /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right,rgba(255, 147, 114, 0.61), rgba(242, 112, 155, 0.61)), url(../imagenes/fondo3.jpg);
   /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

header {
   text-align: justify;

}