/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Practica 1
   Filename: es_contacto.css

   This file contains the base styles used by all pages in the website

*/

body {
   text-align: center;
   background: #30E8BF;
   /* fallback for old browsers */
   background: -webkit-linear-gradient(to right, rgba(255, 130, 53, 0.61), rgba(48, 232, 192, 0.61)), url(../imagenes/fondo51.jpg);
   /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right, rgba(255, 130, 53, 0.61), rgba(48, 232, 192, 0.61)), url(../imagenes/fondo51.jpg);
   /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

header {
   text-align: justify;

}