/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Practica 1
   Filename: es_comentario.css

   This file contains the base styles used by all pages in the website

*/

body {
   text-align: center;
   background: #16BFFD;
   /* fallback for old browsers */
   background: -webkit-linear-gradient(to right, rgba(203, 48, 102, 0.61), rgba(22, 191, 253, 0.61)), url(../imagenes/fondo4.jpg);
   /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right, rgba(203, 48, 102, 0.61), rgba(22, 191, 253, 0.61)), url(../imagenes/fondo4.jpg);
   /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

header {
   text-align: justify;

}