/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Practica 1
   Filename: es_producto.css

   This file contains the base styles used by all pages in the website

*/

.enc1 {
   text-align: center;
}

body {

   background: #FEAC5E;
   /* fallback for old browsers */
   background: -webkit-linear-gradient(to right, rgba(75, 192, 200, 0.61), rgba(199, 121, 208, 0.61), rgba(254, 171, 94, 0.61)), url(../imagenes/fondo7.jpg);
   /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right, rgba(75, 192, 200, 0.61), rgba(199, 121, 208, 0.61), rgba(254, 171, 94, 0.61)), url(../imagenes/fondo7.jpg);
   /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.tabla {
   text-align: justify;

}

.art3 {
   text-align: justify;
}

.art4 {
   text-align: justify;
}